{# commentaire/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>New Comment</h1>

    {{ form_start(form) }}
    {{ form_row(form.contenu) }}
    {# Add other form fields as needed #}

    <input type="hidden" name="article" value="{{ commentaire.article.id }}">

    <button type="submit">Create Comment</button>
    {{ form_end(form) }}

    <a href="{{ path('app_commentaire_index') }}">Back to Comment List</a>
{% endblock %}
